<div class="page">
    <div class="head-top text-center mb-5">
        <h3><i class="fas fa-gift"> Gift Grouping App</i> Sign in</h3>
    </div>

    <div class="text-center mt-5">
        <%= form_with(url: sign_in_path, scope: :session, local: true) do |f| %>
            <%= f.text_field :name, placeholder: "Name" %>
            <%= f.submit "Sign in", class: 'btn btn-lg btn-success w-50 m-4' %>
        <% end %>
    </div>
</div>