// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.create-group {
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    background: var(--second);
  }
  
  .create-group .button {
    width: 80%;
    padding: 1rem;
    background: transparent;
    color: white;
    border: solid 0.2rem rgb(255, 255, 255);
  }
  
  .create-group .button:hover {
    scale: 1.02;
  }