:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}

html {
  font-size: 2vh;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

.page {
  height: 100vh;
  width: 33vw;
  background-image: linear-gradient(to top right, var(--main), #0b1a2c);
  background-position: center;
  background-repeat: no-repeat;
}

.user-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.user-image {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.user-name {
  color: white;
  font-size: 3rem;
}

.user-signout-link {
  font-size: 1.5rem;
  color: #ffffff;
}

.links,
.links a {
  color: white;
  font-size: 2rem;
}

.menu {
  width: 30vw;
}

.menu-item {
  border-bottom: solid 0.1rem var(--main);
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.icon {
  font-size: 2.5rem;
}

.head-top {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.head-top i,
.head-top h3 {
  margin: 1rem;
  font-size: 2.5rem;
  color: white;
}

.head-mid {
  display: flex;
  justify-content: flex-end;
}

.head-mid a {
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: white;
}

.head-low {
  height: 15vh;
  background: white;
  color: var(--text);
  display: flex;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.list-items {
  height: 50vh;
  background: #e7e7e7;
  padding: 1rem;
  overflow: scroll;
}

.list-item {
  background: #ffffff;
  color: var(--text);
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-name {
  font-size: 1.5rem;
}

.list-text {
  width: 50%;
  justify-items: flex-start;
}

.create-group {
  height: 15vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background: var(--second);
}

.create-group .button {
  width: 80%;
  padding: 1rem;
  background: transparent;
  color: white;
  border: solid 0.2rem rgb(255, 255, 255);
}

.create-group .button:hover {
  scale: 1.02;
}
